@keyframes slideFromLeft {
    from {
        transform: translateX(-100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideFromRight {
    from {
        transform: translateX(100px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideLeft {
    animation: slideFromLeft 1s ease-out forwards;
    animation-delay: 200ms;
}

.slideRight {
    animation: slideFromRight 1s ease-out forwards;
    animation-delay: 200ms;
}

.Advantage {
    display: flex;
    align-items: center;
    padding: 0 7em;
    overflow: hidden;
}

.Info {
    width: 60%;
    opacity: 0;
}

.Advantage img {
    width: 40%;
    border-radius: 1em;
    opacity: 0;
}

.inverseImage {
    margin-left: 0;
    margin-right: 2em;
}

.Info p {
    font-size: 1.4em;
}

.Info h2 {
    margin-bottom: 1em;
    font-size: 3em;
}

@media (max-width: 768px) {
    .Advantage img {
        display: none;
    }

    .Advantage {
        display: flex;
        flex-direction: column;
        margin-bottom: 5em;
        margin-left: 0;
        padding: 0;
    }

}